@font-face {
  font-family: Poppins;
  src: url("https://fonts.googleapis.com/css?family=Poppins:regular,700");
}

body {
  font-size: 1.042vw;
  font-family: Poppins;
  text-transform: uppercase;
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.meme_container {
  display: flex;
  flex-direction: column;
  padding: 1.302vw;
  width: 70%;
}

.meme_tab_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0.781vw 5.208vw;
  border-top: 0.052vw solid white;
  background-color: black;
}

.meme_tab_content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.meme1,
.meme2,
.meme3,
.meme4,
.meme5 {
  width: 0;
  height: 0;
  opacity: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: 500ms ease;
}
.meme1 {
  background-image: url(/assets/meme1.png);
}

.meme2 {
  background-image: url(/assets/meme2.png);
}
.meme3 {
  background-image: url(/assets/meme3.png);
}
.meme4 {
  background-image: url(/assets/meme4.png);
}
.meme5 {
  background-image: url(/assets/meme5.png);
}
.meme_radio {
  visibility: hidden;
}
.meme_radio_label {
  cursor: pointer;
}
.meme_radio_label:hover > .meme_tab_content {
  transition: 500ms ease;
}

.meme_radio_label:hover > .meme_tab_content > .meme_img {
  width: 26.042vw;
  height: 26.042vw;
  opacity: 1;
  transition: 500ms ease;
}

.meme_radio_label:has(.meme_radio:checked) > .meme_tab_content > .meme_img {
  width: 26.042vw;
  height: 26.042vw;
  opacity: 1;
  transition: 500ms ease;
}

.meme_radio:checked + .chevron {
  transition: 500ms ease;
  transform: rotate(180deg);
}

.meme_radio_label:has(.meme_radio:checked) p {
  transition: 500ms ease;
  color: red;
}

.meme_radio_label:has(.meme_radio:checked) .meme_container:has(.meme_radio_label:hover) p {
  transition: 500ms ease;
  color: white;
}

.meme_container:has(.meme_radio_label:hover) .chevron {
  opacity: 1;
  transition: 500ms ease;
}

.meme_radio_label:active {
  opacity: 0.7;
  transition: 500ms ease;
}

.meme_container:has(.meme_radio_label:hover) p {
  transition: 500ms ease;
  color: red;
}

.meme_radio_label:active > .meme_tab_title > p {
  color: white;
}

.chevron {
  filter: brightness(50);
  width: 2.604vw;
  height: 2.604vw;
  opacity: 0;
}
